<?xml version="1.0" encoding="UTF-8"?>
<!--
  #%L
  hotel-api-sdk
  $Id:$
  $HeadURL:$
  %%
  Copyright (C) 2015 HOTELBEDS, S.L.U.
  %%
  This program is free software: you can redistribute it and/or modify
  it under the terms of the GNU Lesser General Public License as
  published by the Free Software Foundation, either version 2.1 of the
  License, or (at your option) any later version.
  
  This program is distributed in the hope that it will be useful,
  but WITHOUT ANY WARRANTY; without even the implied warranty of
  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  GNU General Lesser Public License for more details.
  
  You should have received a copy of the GNU General Lesser Public
  License along with this program.  If not, see
  <http://www.gnu.org/licenses/lgpl-2.1.html>.
  #L%
  -->

<!DOCTYPE log4j:configuration PUBLIC "-//APACHE//DTD LOG4J 1.2//EN" "log4j.dtd">
<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">

  <!-- Appenders -->
  <appender name="console" class="org.apache.log4j.ConsoleAppender">
    <param name="Target" value="System.out" />
    <layout class="org.apache.log4j.PatternLayout">

      <param name="ConversionPattern"
        value="%d{yyyyMMdd HH:mm:ss} %-5p- %X{Log4UUIDFilter.UUID} - %c{1} - %m%n" /> <!-- para mostrar toda la ruta de la clase poner cambiar %C{1} por %c -->

    </layout>
  </appender>

  <appender name="dailyRollingLog" class="org.apache.log4j.DailyRollingFileAppender">
    <param name="File" value=".\\target\\logs\\Rosettalog.log" />
    <param name="DatePattern" value="'.' yyyy-MM-dd" /> <!-- daily -->
    <layout class="org.apache.log4j.PatternLayout">
      <param name="ConversionPattern"
        value="%d{yyyy-MM-dd HH:mm:ss} %-5p- %X{Log4UUIDFilter.UUID} - %c{1} - %m%n" /> <!-- para mostrar toda la ruta de la clase poner cambiar %C{1} por %c -->

    </layout>
  </appender>

  <appender name="fileLog" class="org.apache.log4j.FileAppender">
    <param name="File" value=".\\target\\logs\\Rosettalog.log" />
    <param name="append" value="false" /> <!-- daily -->
    <layout class="org.apache.log4j.PatternLayout">
      <param name="ConversionPattern"
        value="%d{yyyy-MM-dd HH:mm:ss} %-5p- %X{Log4UUIDFilter.UUID} - %c{1} - %m%n" /> <!-- para mostrar toda la ruta de la clase poner cambiar %C{1} por %c -->
    </layout>
  </appender>


  <!-- <logger name="com.hotelbeds.hotelesbclient"> <level value="info"/> </logger> <logger name="com.hotelbeds.distribution.hotel_api_webapp.webapp"> <level value="info"/> </logger> <logger name="com.hotelbeds.mapper.atlas"> <level value="debug"/> </logger> <logger name="com.hotelbeds.distribution.hotel_api_webapp.webapp.sort.SortEngineImplementation"> <level value="debug"/> </logger> <logger name="com.hotelbeds.distribution.hotel_api_webapp.webapp.filters.FilterEngineImplementation"> <level value="info"/> 
    </logger> <logger name="com.hotelbeds.distribution.hotel_api_webapp.webapp.filters"> <level value="warn"/> </logger> -->



<logger
    name="com.hazelcast">
    <level value="warn" />
  </logger>
  
  <logger name="com.hotelbeds.monitoring.ProfilingAspect">
    <!-- <level value="debug"/> <level value="trace"/> -->
    <level value="trace" />
  </logger>

  <logger name="com.hotelbeds">
    <level value="info" />
  </logger>
 
  <!-- 
  <logger name="com.hotelbeds.distribution.hotel_api_webapp.webapp.db.DataProviderImplementation">
    <level value="debug" />
  </logger>
  <logger name="com.hotelbeds.distribution.hotel_api_webapp.webapp.www.controllers.version3.AbstractFrontEndService">
    <level value="debug" />
  </logger>
   -->


  <!-- Root Logger -->
  <root>
    <priority value="warn" />
    <appender-ref ref="console" />
    <!-- <appender-ref ref="fileLog"/> -->
  </root>
</log4j:configuration>
