hotel-api-model/target/
hotel-api-sdk/target/
hotel-api-sdk-demo/target/
**/.settings/**
**/.project
**/.classpath
**/hotelapi.properties
/.settings/**
/.project
release.properties
build-tools/target/
